
/*======================= MEDIAS QUERIES (MEDIUM DEVICES)================================*/
@media screen and (max-width: 1024px) {
    
}

/* ============================ SMARTPHONES (SMALL DEVICES)*/
@media screen and (max-width: 700px) {}