header {
    height: 75vh;
    margin: 3rem auto;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
}





/* =============================== CTA ========================== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ================== HEADER SOCIALS ================  */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: "";
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
    
}

/* ============== ME =========================== */
.me {
    background:linear-gradient(var(--color-primary), transparent);
    width: 16rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 7.8rem);
    margin-top: 3rem;
    border-radius: 1rem 1rem;
    overflow: hidden; 
    padding: -6rem 1.5rem 1.5rem 1.5rem;
}


/* ======================== SCROLL DOWN =================== */
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 500;
    font-size: 1rem;
    
}

/* ======================== MEDIA QUERIES (SMALL DEVICES)===================== */

@media screen and (min-width: 700px) {
    .me {
        background:linear-gradient(var(--color-primary), transparent);
        width: 20rem;
        height: 30rem;
        position: absolute;
        left: calc(50% - 9.8rem);
        margin-top: 4rem;
        border-radius: 1rem 1rem;
        overflow: hidden;
    }

}


/* ======================== SMALL QUERIES (SMALL DEVICES)===================== */

@media screen and (max-width: 700px) {
    header {
        height: 70vh;
    }

    .header_socials , .scroll_down {
        display: none;
    }
}